body{
    padding: 0px;
    margin: 0px;
    background-color: #414141;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: rgb(234, 242, 2);
    text-shadow: 5px 5px 2px black;
}

.container h2{
    color: aqua;
    text-align: center;
    text-shadow: 5px 5px 2px black;
}

.container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.button {
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 2px black;
    transition: all ease-in-out;
    font-size: 1rem;
}

.button:hover{
    scale: 1.1;
}

.box{
    padding: 2%;
    height: 25%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -1px 0px 14px black;
    margin: 2%;
    border-radius: 5px;
}
